/* VARIABLES */
:root {
    --background: #F7F2ED;
    --content: #4C6B7F;
    --shadow: #85888C;
    --highlight : #D79E44;
    --filter : invert(43%) sepia(9%) saturate(1487%) hue-rotate(160deg) brightness(89%) contrast(89%);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DESKTOP */
@media  screen and (min-width: 768px) {
    body {
        background-image: url(images/texture.jpg);
    }

    .header, footer {
        display: flex;
        position: fixed;
    }

    /* MENU */
    nav ul li {
        display: inline;
        float: left;
    }

    .header a, .nav ul li a {
        display: block;        
        text-align: center;
        padding: 18px 16px;
        font-size: larger;
    }

    .active {
        background-color: var(--background);
        color: var(--content);
    }

    /* MAIN */
    main {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 10px 30px;
        background-color: var(--background);
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        text-align: center;
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: larger;
    }

    #practical, #identity, .header {
        flex-direction: row;
    }

    #identity {
        margin-bottom: 15px;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
    }

    #name-and-catchphrase {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    #name-and-catchphrase p {
        text-align: center;
    }

    #practical {
        justify-content: space-around;
    }

    #rate {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    /* ICONS AND PICTURES */
    #carol-marconnet-pic {
        width: 300px;
    }

    .icon {
        width: 50px;
    }

    #arrow-up {
        display: none;
    }

   #address.icon {
        width: 40px;
    }

    #tramway.icon, #subway.icon {
        width: 60px;
    }
}


/* SMARTPHONE */
@media screen and (max-width: 767px) {
    body {
        background-color: var(--background);
    }

    /* NAV BAR */
    ul.menu li {
        float: none;
    }

    /* MAIN */
    main {
        padding: 10px 15px;
        margin-top: 20px;
    }

    h1 {
        font-size: 2em;
    }

    #presentation p, #production p, #organisation p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* PRACTICAL */
    #practical, #identity {
        flex-direction: column;
    }

    #identity {
        text-align: center;
    }

    #carol-marconnet-pic {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
    }

    #practical-informations div {
        margin-bottom: 15px;
    }

    #practical-informations p {
        padding-top: 5px;
    }

    /* ICONS AND PICTURES */
    .icon {
        width: 25px;
    }

    #address.icon {
        width: 20px;
    }

    #tramway.icon, #subway.icon {
        width: 30px;
    }
}


/* COMMON PROPERTIES */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    color: var(--content);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#presentation p, #production p, #organisation p {
    text-align: justify;
}

/* MENU */
.header {
    background-color: var(--content);
    box-shadow: 1px 1px 5px 0px var(--shadow);
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}

header a, header nav ul li a {
    text-decoration: none;
}

.menu a {
    color:  var(--background);
}

.menu a:hover {
    background-color: var(--background);
    color: var(--highlight);
    font: bold;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--content);
  }
  
  ul.menu li {
      float: left;
  }
  
  ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* SECTIONS */
#practical, #identity {
    display: flex;
}

#practical a {
    color: var(--content);
}

#practical a:hover {
    color: var(--highlight);
}

/* IMAGES */
.colored-icon {
    filter: var(--filter);
}

/* FOOTER */

footer {
    background-color: var(--content);
    box-shadow: 1px 1px 5px 0px var(--shadow);
    /* position: sticky; */
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: var(--background);
    text-align: center;
    justify-content: center;
}

